$pomo-primary: #183059;
$pomo-secondary: #fadf63;
$fg: #f1f5f9;
$fg-muted: #c6ced9;

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: $pomo-primary;
  color: $fg;
}

.app {
  padding: 2rem;
  margin: 0 auto;

  h1 {
    margin-top: 0;
  }
  .timer-display {
    .timer-display-countdown {
      font-size: 2em;
      text-align: center;
    }
    .timer-display-end-time {
      color: $fg-muted;
      display: block;
      font-size: 0.7em;
    }
  }
}
