$pomo-primary: #183059;
$pomo-secondary: #fadf63;
$fg: #f1f5f9;

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: $pomo-primary;
  color: $fg;
}

.app {
  padding: 2rem;
  max-width: 640px;
  margin: 0 auto;

  h1 {
    margin-top: 0;
  }
}
